
/* article component grid */
.articles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:  
      "small-articles development"
      "content--2 content--2";
    margin: 100px auto 50px;
    grid-gap: 100px 20px;
}


.articles-small {
    grid-area: small-articles;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 20px;
}

.article-contact {
    grid-area: content--2;
    grid-column: 1 / -1;
    width: 100%;
    background: var(--button-bg);
    padding: 10px 0;
    box-shadow: none;
}
