
/* article component grid */
.articles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:  
      "small-articles development";
    margin: 100px auto 50px;
    grid-gap: 20px;
}


.articles-small {
    grid-area: small-articles;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 20px;
}

